.vz-guideline{
  position: absolute;
  pointer-events: none;
  border: 0 dashed #5bbba4;
}
.vz-guideline-h{
  border-top-width: 1px;
  width: 100%;
}
.vz-guideline-v{
  border-left-width: 1px;
  height: 100%;
}