<!DOCTYPE html>
<html ng-app="demoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Visular Demo</title>


    <script src="lib/jquery-1.11.2.min.js"></script>
    <script src="lib/angular-1.3.11/angular.js"></script>
    <script src="lib/angular-1.3.11/angular-aria.js"></script>
    <script src="lib/angular-1.3.11/angular-messages.js"></script>
    <script src="lib/angular-1.3.11/angular-animate.js"></script>

    <script src="lib/material/angular-material.js"></script>

    <script src="lib/geometry.js"></script>
    <script src="../dist/visular-0.0.1/visular.js"></script>
    <script src="js/demoApp.ng.js"></script>


    <link rel="stylesheet" href="lib/material/angular-material.css" />
    <link rel="stylesheet" href="../dist/visular-0.0.1/visular.css" />
    <link rel="stylesheet" href="css/demoApp.css" />

</head>
<body ng-controller="mainController as ctrl">

<md-toolbar>
    <h2 class="md-toolbar-tools">Visular Demo app</h2>
</md-toolbar>
<md-content layout="row" class="md-padding">
    <div class="demo-inspector md-whiteframe-z1" layout-margin layout="column">
        <md-subheader>Inspector</md-subheader>
        <md-divider></md-divider>
        <div ng-if="!diagram.selectedItem" flex
             layout="column" layout-align="start center" layout-margin
             class="demo-placeholder">
            <div flex layout="column" layout-align="center">No Item Selected</div>
        </div>
        <div layout="column" layout-margin
             ng-if="diagram.selectedItem" ng-form="ctrl.inspectorForm">
            <md-input-container ng-if="diagram.selectedItem.name !== undefined">
                <label>Name</label>
                <input type="text" name="name"
                       ng-model="diagram.selectedItem.name" />
                <div ng-messages="ctrl.inspectorForm.name.$error">
                    <div ng-message="required">Unnamed elements are bad!</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Width</label>
                <input required type="number" name="width" min="10" max="500"
                       ng-model="diagram.selectedItem.size.width" />
                <div ng-messages="ctrl.inspectorForm.width.$error">
                    <div ng-message="min">Man! This is too tiny!</div>
                    <div ng-message="max">Giant element!</div>
                </div>
            </md-input-container>
            <md-input-container>

                <label>Height</label>
                <input type="number"
                       ng-model="diagram.selectedItem.size.height" />
            </md-input-container>
            <!--<md-input-container>

                <label>X</label>
                <input type="number"
                       ng-model="diagram.selectedItem.position.x" />
            </md-input-container>
            <md-input-container>

                <label>Y</label>
                <input type="number"
                       ng-model="diagram.selectedItem.position.y" />
            </md-input-container>-->
        </div>
    </div>
    <div flex layout-margin class="md-whiteframe-z1">
        <md-subheader>Designer</md-subheader>
        <md-divider></md-divider>
        <vz-diagram
                class="demo-diagram"
                vz-diagram-model="ctrl.diagram"
                vz-diagram-controller="diagram"
                vz-guideline
                vz-zoom-on-wheel
                vz-zoom-getter-setter="ctrl.zoom"
                vz-pan
                vz-resize-handles>
            <div vz-selected-item-overlay class="md-whiteframe-z4 custom-overlay-1"
                 ng-class="{'active': diagram.selectedItem}">
                <md-button class="md-raised md-fab md-mini top">+</md-button>
                <md-button class="md-raised md-fab md-mini right">+</md-button>
                <md-button class="md-raised md-fab md-mini bottom">+</md-button>
                <md-button class="md-raised md-fab md-mini left">+</md-button>
            </div>
        </vz-diagram>
        <div class="demo-diagram-footer" layout="row">
            <span flex></span>
            <div layout="row" layout-align="start center" flex="30" class="demo-zoomCtrl">
                <md-button
                        class="md-accent"
                        ng-click="(ctrl.zoom() >.2) && ctrl.zoom(ctrl.zoom()-.2)">-</md-button>
                <md-slider
                        flex ng-model="ctrl.zoom" class="md-primary" ng-model-options="{getterSetter: true}"
                        min=".1" max="5" step=".2"
                        style="margin: -5px 0"></md-slider> <span style="padding: 0 0 0 5px;">{{(ctrl.zoom()*100).toFixed(2)}}%</span>
                <md-button
                        class="md-accent"
                        ng-click="(ctrl.zoom() < 5) && ctrl.zoom(ctrl.zoom()+.2)">+</md-button>
            </div>
        </div>
    </div>

</md-content>


</body>
</html>